@use '../../../sass/mixins' as *;
@use '../../../sass/variables' as *;
@use 'sass:math';

.concert-hall {
  @include gradient-background-horizontal;
  width: 100%;

  // Room Model CSS
  .room-model-hidden {
    @include flex-center-center;
    flex-direction: column;
    display: none;

    .room-model {
      display: grid;
      grid-template: repeat(4, 40px) / repeat(6, 40px);
      row-gap: 8px;
      column-gap: 10px;

      div {
        @include flex-center-center;
        background-color: darkgray;
        
        p {
          color: $primary;
        }
      }

      .stage-model {
        grid-area: 1 / 2 / 2 / 6;
      }

      .sector-model-A {
        grid-area: 1 / 1 / 4 / 2;
      }

      .sector-model-B {
        grid-area: 2 / 2 / 4 / 6;
      }

      .sector-model-C {
        grid-area: 1 / 6 / 4 / 7;
      }

      .sector-model-D {
        grid-area: 4 / 1 / 5 / 4;
      }

      .sector-model-E {
        grid-area: 4 / 4 / 5 / 7;
      }
    }
  }

  // Room Layout CSS
  .container {
    @include container;
    display: grid;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    column-gap: 7px;
    padding: $base-padding*2.5 math.div($base-padding, 2);
    border: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
    border-bottom: none;
    

    .stage {
      @include flex-center-center;
      background-color: $quaternary;
      grid-area: 1 / 2 / 2 / 4;
      
      h3 {
        font-size: 2rem;
        color: $primary;
      }
    }

    .sector {
      @include sector-button;
      display: grid;

      h3 {
        margin: math.div($base-margin, 2);
      }
    }

    .sector-A, .sector-C {
      grid-template: repeat(23, auto) / repeat(9, auto);
      grid-auto-flow: column;

      .sector-name {
        grid-column: 1 / 10;
        @include flex-center-center;
      }
    }

    .sector-B {
      grid-template: auto / repeat(18, 1fr);
      .sector-name {
        grid-column: 1 / 19;
        @include flex-center-center;
      }
    }

    .sector-D, .sector-E {
      grid-template: repeat(12, 1fr) / repeat(18, auto);

      .sector-name {
        grid-column: 1 / 19;
        @include flex-center-center;
      }
    }

    .sector-A {
      grid-area: 1 / 1 / 5 / 2;
    }

    .sector-B {
      grid-area: 2 / 2 / 5 / 4;
    }

    .sector-C {
      grid-area: 1 / 4 / 5 / 5;
    }

    .sector-D {
      grid-area: 5 / 1 / 7 / 3;
    }

    .sector-E {
      grid-area: 5 / 3 / 7 / 5;
    }
  }
}