@use '../../../sass/mixins' as *;
@use '../../../sass/variables' as *;

.classic-room {
  @include gradient-background-horizontal;
  width: 100%;

  // Room Model CSS
  .room-model-hidden {
    @include flex-center-center;
    flex-direction: column;
    display: none;
    padding: 0;

    .room-model {
      display: grid;
      grid-template: 50px 100px / 100px 100px;
      row-gap: 8px;
      column-gap: 10px;

      div {
        @include flex-center-center;
        background-color: darkgray;

        p {
          color: $primary;
        }
      }

      .stage-model {
        grid-area: 1 / 1 / 2 / 3;
      }

      .sector-model-A {
        grid-area: 2 / 1 / 3 / 2;
      }

      .sector-model-B {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }

  // Room Layout CSS
  .container {
    @include container;
    display: grid;
    grid-template: 0.25fr 1fr / 1fr 1fr;
    column-gap: 10%;
    padding: $base-padding*2.5 $base-padding $base-padding*2.5 $base-padding;
    border: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
    border-bottom: none;

    .stage {
      @include flex-center-center;
      background-color: $quaternary;
      grid-column: 1 / 3;
      
      h3 {
        font-size: 2rem;
        color: $primary;
      }
    }

    & .sector {
      display: grid;
      grid-template: repeat(11, 1fr) / repeat(10, 1fr);
      @include sector-button;

        .sector-name {
        grid-column: 1 / 11;
        text-align: center;
      }
    }

    .sector-A {
      grid-area: 2 / 1 / 3 / 2;
    }

    .sector-B {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}