@use './variables' as *;

@mixin container {
    width: 100%;
    min-width: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  };
  
@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@mixin gradient-background-horizontal {
  background-image: linear-gradient($primary, $secondary);
}

@mixin submit-button {
  .submit-button {
    color: $quaternary;
    font-family: Poppins;
    font-size: 1.25em;
    border: solid 2px;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two)1;
    padding: $base-padding $base-padding*2;
    background: transparent;
    margin: $base-margin;
    cursor: pointer;
    position: relative;
    isolation: isolate;
    outline: none;

    &::after{
      content: '';
      position: absolute;
      z-index: -1;
      background-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two);
      inset: 0;
      scale: 0 1;
      transform-origin: right;
      transition: scale 450ms;
    }

    &:hover::after,
    &:focus-visible::after {
      transform-origin: left;
      scale: 1 1;
    }
  }
}
