@use '../../sass/mixins' as *;
@use '../../sass/variables' as *;

.dashboard {
  width: 100%;
  @include gradient-background-horizontal;

  .dashboard-title {
    text-align: center;
    color: $quaternary;
    font-size: 3rem;
    padding: $base-padding;
    margin: $base-margin;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
  }

  .dashboard-container {
    @include container;
    padding: $base-padding*2.5;

    .dashboard-header {
      display: grid;
      grid-template: repeat(3, 0.75fr) / 1fr 1fr 1fr 1fr 1fr 1fr;
    
      h1 {
        font-size: 3rem;
        margin: 0;
      }
    
      .header-part-one {
        @include flex-center-center;
        grid-column: 1 / 4;
        background-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two);
        background-clip: text;
        color: transparent
      }
    
      .header-part-two {
        color: $quaternary;
        font-size: 6rem;
        @include flex-center-center;
        grid-column: 2 / 6;
      }
    
      .header-part-three {
        @include flex-center-center;
        grid-column: 4 / 7;
        background-image: linear-gradient(90deg, $gradient-color-two, $gradient-color-one);
        background-clip: text;
        color: transparent
      }
    }

    .row {
      @include flex-center-center;
      flex-flow: row wrap;
      gap: 20px;

      a {
        text-decoration: none;
      }
  
      .dashboard-card {
        @include flex-center-center;
        border: solid 2px;
        border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
        color: $quaternary;
        height: 200px;
        width: 100%;
        margin: 0;
  
        &:hover {
          font-size: 25px;
        }

        h2 {
          margin: 0;
        }
      }
    }
  }
}