@use '../../sass/mixins' as *;
@use '../../sass/variables' as *;

.event-list {
  width: 100%;
  @include gradient-background-horizontal;
  min-height: 50vh;

  .event-list-heading {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;

    h1 {
      margin: $base-margin*2 0;
    }
  }

  .event-list-container {
    @include container;
    @include event-card;

    .event-list-empty {
      @include flex-center-center;
    }
  }
}