@use '../../sass/variables' as *;
@use '../../sass/breakpoints' as *;

.not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: $base-margin;

  p {
    margin: $base-margin 0;
  }

  a {
    color: $quaternary;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      background-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two);
      background-clip: text;
      color: transparent
    }
  }
}

// Media querries

@include mobile {
  .not-found {
    h2 {
      font-size: 1.25em;
    }

    p {
      font-size: 0.75em;
      text-align: center;
    }
  }
}
