@use '../../sass/mixins' as *;
@use '../../sass/variables' as *;
@use 'sass:math';

.reservation-panel {
  width: 100%;
  @include flex-center-center;
  flex-direction: column;

  .reservation-panel-container {
    @include container;
    @include event-card;
  }
  
  .form-container {
    @include container;
    @include flex-center-center;
    margin: 0 auto;
    margin-top: $base-margin;
    border: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
    
    .reservation-form {
      @include container;
      text-align: center;
      padding: $base-padding;
      padding: auto;

      form {
        @include flex-center-center;
        flex-direction: column;

        label {
          color: $tertiary;
          padding: $base-padding;
        }

        input {
          padding: $base-padding;
          border-radius: 10px;
          text-align: center;
          font-family: Poppins;
          font-size: 15px;
          width: 40%;

          &:hover {
            background-color: lightgray;
            cursor: default;
          }
        }

        .chosen-seats-display {
          @include flex-center-center;
          flex-direction: column;
          border: solid 2px;
          border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two)1;
          margin: $base-margin*2;
          padding: $base-padding;
          width: 40%;

          h3 {
            margin: $base-margin;
          }

          .chosen-seats-btn {
            cursor: default;
            font-weight: bold;
            margin: math.div($base-margin, 2);
            padding: $base-padding;
            border: solid 2px;
            border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two)1;
            color: $quaternary;
            background: transparent;
            width: 50px;
          }
        }

        p {
          color: $tertiary;
          padding: $base-padding $base-padding*2;
          margin: 0;
        }

        .submit-button {
          color: $quaternary;
          font-family: Poppins;
          font-size: 1.25em;
          border: solid 2px;
          border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two)1;
          padding: $base-padding $base-padding*2;
          background: transparent;
          margin: $base-margin;
          cursor: pointer;
          position: relative;
          isolation: isolate;
          outline: none;
  
          &::after{
            content: '';
            position: absolute;
            z-index: -1;
            background-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two);
            inset: 0;
            scale: 0 1;
            transform-origin: right;
            transition: scale 450ms;
          }
  
          &:hover::after,
          &:focus-visible::after {
            transform-origin: left;
            scale: 1 1;
          }
        }
      }
    }
  }
  .legend {
    @include flex-center-center;
    flex-direction: column;

    h3 {
      margin: $base-margin;
    }

    ul {
      @include flex-center-center;
      padding: $base-padding;
      border: 1px solid;
      border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
      margin-top: 0;
      margin-bottom: $base-margin*2;

      li {
        @include flex-center-center;

        & * {
        padding: $base-padding*0.75;
        }
      }
    }
  }
}