@use '../../sass/mixins' as *;
@use '../../sass/variables' as *;

.dashboard {
  width: 100%;
  @include gradient-background-horizontal;
  
  .dashboard-title {
    text-align: center;
    color: $quaternary;
    font-size: 3rem;
    padding: $base-padding;
    margin: $base-margin;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
  }

  .dashboard-container {
    @include container;
    padding: $base-padding*2.5;

    .row {
      @include flex-center-center;
      flex-flow: row wrap;
      gap: 20px;

      a {
        text-decoration: none;
      }
  
      .card {
        @include flex-center-center;
        border: solid 2px;
        border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
        color: $quaternary;
        height: 200px;
        width: 100%;
        margin: 0;
  
        &:hover {
          font-size: 25px;
        }

        h2 {
          margin: 0;
        }
      }
    }
  }
}