@use '../../../sass/mixins' as *;
@use '../../../sass/variables' as *;

.movie-room {
  @include gradient-background-horizontal;
  width: 100%;

  .room-model-hidden {
    @include flex-center-center;
    flex-direction: column;
    display: none;

    .room-model {
      display: grid;
      grid-template: 20px 100px / 75px 75px;
      gap: 8px;

      div {
        @include flex-center-center;
        background-color: darkgray;

        p {
          color: $primary;
        }
      }

      .screen-model {
        grid-area: 1 / 1 / 2 / 3;
      }

      .sector-model-A {
        grid-area: 2 / 1 / 3 / 2;
      }

      .sector-model-B {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }

  .container {
    @include container;
    display: grid;
    grid-template: 0.05fr 2fr / 1fr 1fr;
    column-gap: 1%;
    padding: $base-padding*2.5;
    padding-bottom: $base-padding*5;

    .screen {
      @include flex-center-center;
      background-color: $quaternary;
      grid-area: 1 / 1 / 2 / 3;
      
      h3 {
        font-size: 2rem;
        color: $primary;
        margin: 0;
      }
    }

    .sector {
      display: grid;
      grid-template: repeat(11, 1fr) / repeat(10, 1fr);

      .sector-name {
        grid-column: 1 / 11;
      }

      .sector-A {
        grid-area: 2 / 1 / 3 / 2;
      }

      .sector-B {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }
}