@use '../../../sass/mixins' as *;
@use '../../../sass/variables' as *;
@use '../../../sass/breakpoints' as *;
@use 'sass:math';

.movie-room {
  @include gradient-background-horizontal;
  width: 100%;

  .room-model-hidden {
    @include flex-center-center;
    flex-direction: column;
    display: none;
    padding: $base-padding;

    h3 {
      margin: math.div($base-margin, 2);
    }

    .room-model {
      display: grid;
      grid-template: 20px 100px / 75px 75px;
      gap: 8px;

      div {
        @include flex-center-center;
        background-color: darkgray;

        p {
          color: $primary;
        }
      }

      .screen-model {
        grid-area: 1 / 1 / 2 / 3;
      }

      .sector-model-A {
        grid-area: 2 / 1 / 3 / 2;
      }

      .sector-model-B {
        grid-area: 2 / 2 / 3 / 3;
      }
    }
  }

  .container {
    @include container;
    display: grid;
    grid-template: 0.05fr 1fr / 1fr 1fr;
    column-gap: 1%;
    padding: $base-padding*2.5;
    padding-bottom: $base-padding*3;
    border: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
    border-bottom: none;

    .screen {
      @include flex-center-center;
      background-color: $quaternary;
      grid-area: 1 / 1 / 2 / 3;
      
      h3 {
        font-size: 2rem;
        color: $primary;
        margin: 0;
      }
    }

    .sector {
      display: grid;
      grid-template: repeat(11, 1fr) / repeat(10, 1fr);

      .sector-name {
        grid-column: 1 / 11;
      }
    }

    .sector-A {
      grid-area: 2 / 1 / 3 / 2;
    }

    .sector-B {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}

// Media queries

@include mobile {
  .movie-room {
    .room-model-hidden {
      display: flex;
    }
    .container {
      grid-template: repeat(2, auto) / 1fr;

      .screen {
        display: none;
      }

      .sector {
        .sector-name {
          h3 {
            margin: math.div($base-padding, 2);
          }
        }
      }
  
      .sector-A {
        grid-area: 1 / 1 / 2 / 2;
      }
  
      .sector-B {
        grid-area: 2 / 1 / 3 / 2;
      }
    }
  }
}
@include tablet {
  .movie-room {
    .room-model-hidden {
      display: flex;
    }
    .container {
      grid-template: auto / repeat(2, auto);

      .screen {
        display: none;
      }

      .sector {
        .sector-name {
          h3 {
            margin: math.div($base-padding, 2);
          }
        }
      }
  
      .sector-A {
        grid-area: 1 / 1 / 2 / 2;
      }
  
      .sector-B {
        grid-area: 1 / 2 / 2 / 3;
      }
    }
  }
}