@use '../../../sass/mixins' as *;
@use '../../../sass/variables' as *;

.movie-room-layout {
  @include gradient-background-horizontal;
  width: 100%;

  .room-model-hidden {
    @include flex-center-center;
    flex-direction: column;

    .room-model {
      display: grid;
      grid-template: 20px 100px / 100px;
      row-gap: 8px;

      & * p {
        color: $primary;
        text-align: center;
        margin: 0;
      }

      .screen-model {
        @include flex-center-center;
        background-color: darkgray;
        grid-area: 1 / 1 / 2 / 2;
      }

      .sector-A-model {
        @include flex-center-center;
        background-color: darkgray;
        grid-area: 2 / 1 / 3 / 2;
      }
    }
  }

  .container {
    @include container;
    display: grid;
    grid-template: 0.05fr 2fr / 1fr;
    padding: $base-padding*2.5;

    .screen {
      @include flex-center-center;
      background-color: darkgray;
      grid-column: 1 / 2;
      
      h3 {
        font-size: 2rem;
        color: $primary;
        margin: 0;
      }
    }

    & .sector {
        display: grid;
        grid-template: repeat(11, 1fr) / repeat(20, 1fr);
        @include sector-button;

        .sector-name {
          grid-column: 1 / 21;
          text-align: center;
      }
    }
  }
}