@use './sass/mixins' as *;
@use './sass/variables' as *;

.App {
  @include flex-center-center;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

// base utilities

h1, h2, h3 {
  color: $quaternary;
}

p {
  color: $tertiary;
  text-align: justify;
}