.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: black;
  padding-bottom: 50px;
}
.carousel-container {
  width: 100%;
}
.carousel-container img {
  height: 540px;
}