// variables
$primary: black;
$secondary: #1C1C1C;
$tertiary: #A9A19B;
$quaternary: white;

$gradient-color-one: red;
$gradient-color-two: blue;

$base-padding: 0.5rem;
$base-margin: 0.5rem;

// mixins
@mixin container {
  width: 100%;
  min-width: none;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
};

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradient-background-horizontal {
  background-image: linear-gradient($primary, $secondary);
}

.App {
  @include flex-center-center;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

// base utilities

h1, h2, h3 {
  color: $quaternary;
}

p {
  color: $tertiary;
  text-align: justify;
}

// Elements

@mixin event-card {
  .event-card {
    display: grid;
    grid-template: auto / 1fr 3fr;
    color: $tertiary;
    border-top: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;

    &:first-child {
      border-top: none;
    }

    img {
      padding: $base-padding $base-padding 0 $base-padding;
    }
    
    .card-details {
      padding: 0 $base-padding;

      h3 {
        font-size: 32px;
        margin: $base-margin 0 0 0;
      }

      p {
        margin: $base-margin 0;
      }

      ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin: $base-margin 0;
      }

      li {
        padding: 0 $base-padding;
        border-right: 1px solid $tertiary;
      }

      li:first-child {
        padding-left: 0;
      }

      li:last-child{
        border-right: none;
        padding-right: 0;
      }
      .booking-button {
        font-size: 20px;
        font-family: Poppins;
        color: $quaternary;
        border: solid 2px $quaternary;
        background-color: $secondary;
        border-radius: 10px;
        margin: $base-margin 0;
        padding: $base-padding;
        width: 100px;
        cursor: pointer;
      }
    }
  }
}


// COMPONENTS

// Navbar

.navbar {
  width: 100%;
  background-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two);

  ul {
    @include container;
    @include flex-center-center;
    list-style: none;
  }

  li {
    padding: $base-padding;
    text-align: center;

    a {
      text-decoration: none;
      color: $quaternary;

      &.active {
        font-weight: bold;
      }
    }
  }

  .logo {
    margin-right: auto;
    font-size: 2rem;
    font-weight: bold;
  }
}

// Header

.header {
  width: 100%;
}

.header-container {
  @include container;
  display: grid;
  grid-template: repeat(3, 0.75fr) / 1fr 1fr 1fr 1fr 1fr 1fr;

  h1 {
    font-size: 3rem;
    margin: 0;
  }

  .h1-part-one {
    @include flex-center-center;
    grid-column: 1 / 4;
    background-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two);
    background-clip: text;
    color: transparent
  }

  .h1-part-two {
    color: $quaternary;
    font-size: 6rem;
    @include flex-center-center;
    grid-column: 2 / 6;
  }

  .h1-part-three {
    @include flex-center-center;
    grid-column: 4 / 7;
    background-image: linear-gradient(90deg, $gradient-color-two, $gradient-color-one);
    background-clip: text;
    color: transparent
  }
}

// Dashboard

.dashboard {
  width: 100%;
  @include gradient-background-horizontal;

  .dashboard-title {
    text-align: center;
    color: $quaternary;
    font-size: 3rem;
    padding: $base-padding;
    margin: $base-margin;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
  }

  .dashboard-container {
    @include container;
    padding: $base-padding*2.5;

    .row {
      @include flex-center-center;
      flex-flow: row wrap;
      gap: 20px;

      a {
        text-decoration: none;
      }
  
      .card {
        @include flex-center-center;
        border: solid 2px;
        border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
        color: $quaternary;
        height: 200px;
        width: 100%;
        margin: 0;
  
        &:hover {
          font-size: 25px;
        }

        h2 {
          margin: 0;
        }
      }
    }
  }
}

// EventList

.event-list {
  width: 100%;
  @include gradient-background-horizontal;
  min-height: 50vh;

  .event-list-heading {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;

    h1 {
      margin: $base-margin*2 0;
    }
  }

  .event-list-container {
    @include container;
    @include event-card;

    .empty-list {
      @include flex-center-center;
    }
  }
}

// About Us

.about {
  @include gradient-background-horizontal;
  width: 100%;

  .about-container{
    @include container;
  }
}

// Contact Us

.contact {
  @include gradient-background-horizontal;
  width: 100%;

  .contact-container {
    @include container;
    text-align: center;

    .contact-options {
      display: grid;
      grid-template: auto / 1fr 1fr;
      gap: 16px;

      .contact-hotline, .contact-correspondence {
        border: 1px dashed $quaternary;
      }

      h3 {
        margin-bottom: 0;
      }

      p {
        text-align: center;
        margin: 0;
        padding: $base-padding*2;
      }
      
      a {
        color: $quaternary;

        &:hover {
          color: $tertiary;
        }
      }
    }

    form {
      @include flex-center-center;
      flex-direction: column;
      margin: 0 auto;

      h3 {
        margin: $base-margin;
      }

      input, textarea {
        padding: $base-padding;
        border-radius: 10px;
        width: 30%;
        font-size: 15px;
        font-family: Poppins;
        text-align: center;

        &:hover {
          background-color: lightgray;
          cursor: default;
        }
      }

      textarea {
        text-align: justify;
        height: 150px;
      }

      .form-button {
        font-size: 20px;
        font-family: Poppins;
        color: $quaternary;
        border: solid 2px $quaternary;
        background-color: transparent;
        border-radius: 10px;
        margin: 8px;
        padding: 8px;
        width: 100px;
        cursor: pointer;

        &:hover, &:focus {
          color: $tertiary;
          border: solid 2px $tertiary;
          background-color: $secondary;
          cursor: pointer;
        }
      }
    }

    .success-popup {
      color: green;
      background-color: lightgreen;
      border: 1px solid green;
      border-radius: 4px;
      width: 30%;
      padding: $base-padding;
      margin: $base-padding auto;
    }

    .error-popup {
      color: red;
      background-color: pink;
      border: 1px solid red;
      border-radius: 4px;
      width: 30%;
      padding: $base-padding;
      margin: $base-padding auto;
    }
  }
}

// Reservation Panel

.reservation-panel {
  width: 100%;

  .reservation-panel-container {
    @include container;
    @include event-card;
  }
  
  .form-container {
    @include container;
    @include flex-center-center;
    display: flex;
    justify-content: center;
    padding: $base-padding*2 $base-padding*2.5;
    
    .reservation-card {
      text-align: center;
      border: 2px solid $tertiary;
      border-radius: 15px;
      padding: $base-padding;

      form {
        @include flex-center-center;
        flex-direction: column;

        label {
          color: $tertiary;
          padding: $base-padding;
        }

        input {
          padding: $base-padding;
          border-radius: 10px;
          text-align: center;
          font-family: Poppins;
          font-size: 15px;
          width: 70%;

          &:hover {
            background-color: lightgray;
            cursor: default;
          }
        }

        .chosen-seats-display {
          @include flex-center-center;
          flex-direction: column;
          border: 1px solid $quaternary;
          border-radius: 15px;
          margin: $base-margin;
          max-width: 40%;
        }

        p {
          padding: $base-padding $base-padding*2;
          margin: 0;
        }

        button {
          font-size: 20px;
          font-family: Poppins;
          color: $quaternary;
          border: solid 2px $quaternary;
          background-color: transparent;
          border-radius: 10px;
          margin: 10px;
          padding: 5px 10px;
          cursor: pointer;

          &:hover, &:focus {
            color: $tertiary;
            border: solid 2px $tertiary;
            background-color: $secondary;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// Event Rooms 

// Classic Room
@mixin sector-button {
  button {
    margin: 2px;
    padding: 0;
    padding-top: 4px;
    border: 1px solid $secondary;
    border-radius: 20%;
    background-color: #888888;
    color: $primary;

    svg {
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(343deg) brightness(102%) contrast(101%);
    }

    &:hover {
      color: $secondary;
      background-color: $tertiary;
      border-color: $tertiary;
      cursor: pointer;

      &.clicked {
        background-color: green;
      }
    }

    &.taken {
      background-color: $primary;
      cursor: default;
      border: 1px solid $tertiary;

      &:hover {
        cursor: default;
        background-color: $primary;
      }
    }

    &.clicked {
      background-color: green;
    }
  }

  .sector-name {
    grid-column-start: 1;
    grid-column-end: 11;
    text-align: center;

    p {
      text-align: center;
    }
  }
}


.classic-room-layout {
  @include gradient-background-horizontal;
  width: 100%;

  .legend {
    @include flex-center-center;
    flex-direction: column;
    padding: 0;

    h3 {
      margin-top: $base-margin;
      margin-bottom: 0;
    }

    .room-model-hidden {
      @include flex-center-center;
      flex-direction: column;

      .room-model {
        display: grid;
        grid-template: 50px 100px / 100px 100px;
        row-gap: 8px;
        column-gap: 10px;

        & * p {
          color: $primary;
          text-align: center;
          margin: $base-margin;
        }

        .stage-model {
          @include flex-center-center;
          background-color: darkgray;
          grid-area: 1 / 1 / 2 / 3;
        }

        .sector-A-model {
          @include flex-center-center;
          background-color: darkgray;
          grid-area: 2 / 1 / 3 / 2;
        }

        .sector-B-model {
          @include flex-center-center;
          background-color: darkgray;
          grid-area: 2 / 2 / 3 / 3;
        }
      }
    }

    ul {
      @include flex-center-center;
      padding: $base-padding;
      border: 2px solid $quaternary;
      border-radius: 15px;

      li {
        @include flex-center-center;

        & * {
        padding: $base-padding*0.75;
        }
      }
    }
  }

  .container {
    @include container;
    display: grid;
    grid-template: 0.75fr 2fr / 1fr 1fr;
    column-gap: 10%;
    padding: $base-padding*2.5;

    .stage {
      @include flex-center-center;
      background-color: darkgray;
      grid-column: 1 / 3;
      
      h3 {
        font-size: 2rem;
        color: $quaternary;
      }
    }

    & .sector {
      display: grid;
      grid-template: repeat(11, 1fr) / repeat(10, 1fr);
      @include sector-button;

        .sector-name {
        grid-column: 1 / 11;
        text-align: center;
      }
    }
  }
}

// Footer

.footer {
  @include flex-center-center;
  flex-direction: column;
  background-image: linear-gradient($secondary, $primary);
  width: 100%;
  border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;
  border-top: 1px solid;

  .footer-links {

    ul {
      padding: 0;
    }

    li {
      @include flex-center-center;
      text-decoration: none;
      color: $tertiary;
      cursor: pointer;
      padding: 0;

      img {
        margin: 5px 10px;
        filter: invert(77%) sepia(19%) saturate(127%) hue-rotate(344deg) brightness(83%) contrast(82%);
      }

      p {
        margin: 5px 0;
      }

      &:hover {
        filter: invert(78%) sepia(20%) saturate(110%) hue-rotate(343deg) brightness(80%) contrast(89%);
      }
    }
  }

  .footer-sponsors {
    @include flex-center-center;
    flex-flow: row wrap;
    width: 100%;
    border: 1px solid;
    border-image: linear-gradient(90deg, $gradient-color-one, $gradient-color-two) 1;


    img {
      padding: 10px;
      border-radius: 40px;
      filter: brightness(70%);
    }
  }
  .footer-paragraph {
    text-align: center;
    color: $tertiary;
    padding: 5px;
    margin: 0;
  }
}

// MEDIA QUERRIES

@media (min-width: 0) {
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .navbar {
    ul {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;

      li {
        font-size: 90%;
      }
    }
  
    .logo {
      grid-column: span 3;
      margin: auto;
    }
  }

  .about {
    h2 {
      text-align: center;
    }
  }

  .contact {
    .contact-container {
      .contact-options {
        display: grid;
        grid-template: 1fr 1fr / 1fr;
      }
      
      .form-layout{
        form{
          input, textarea {
            width: 250px;
          }
        }
      }
    }
  }
}

@media (min-width: 720px) {
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 48%;
  }

  .classic-room-layout {
    .legend {
      .room-model-hidden {
        display: none;
      }
    }
  }
}

@media (max-width: 720px) {
  .navbar {
    ul {
      li {
        font-size: 80%;
      }
      .logo {
        font-size: 1.80rem;
      }
    }
  }

  .header-container {
    h1 {
      font-size: 2rem;
    }
    .h1-part-one, .h1-part-three {
      @include flex-center-center;
      grid-column-start: 1;
      grid-column-end: 7;
    }
  
    .h1-part-two {
      @include flex-center-center;
      font-size: 3rem;
      grid-column-start: 1;
      grid-column-end: 7;
    }
  }

  .about {
    h2 {
      text-align: center;
    }
  }
}

@media (min-width: 960px) {
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 32%;
  }
}

@media (max-width: 960px) {
  .event-list, .reservation-panel {
    .event-list-container, .reservation-panel-container {
      .event-card {
        display: grid;
        grid-template: auto / auto;

        .card-poster, .card-details {
          @include flex-center-center;
          flex-direction: column;

          h3 {
            font-size: 1.25rem;
            text-align: center;
          }

          li p {
            font-size: 0.75rem;
            text-align: center;
          }

          p {
            font-size: 0.75rem;
          }
        }

        img {
          min-width: 0;
          min-height: 0;
          text-align: center;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
